/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', serif;
}

h1 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    height: 100%;
    width: 94%;
}

.card {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 12px rgb(197, 197, 197);
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.card:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}

/* HEADER */
header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

.logo {
    margin-left: 0.5%;
    margin-top: 30px;
}

header .logo img {
    width: 125px;
    height: 60px;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

header nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    border: solid 3px white;
}

header nav ul li a {
    font-weight: lighter;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header nav ul li:hover  {
    border-top: 3px solid #0065fc;
}

header nav ul li:hover a {
    color: #0065fc;
}

/* smartphone view*/
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 20px;
        justify-content: center;
    }

    header .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 10px 0 30px 0;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li {
        padding: 0 0 10px 0;
        border-bottom: 3px solid #f2f2f2;
        flex: 0 0 50%;
    }

    header nav ul li a {
        justify-content: space-around;
    }

    header nav ul li:hover {
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }

    header nav ul li:hover a {
        color: #0065fc;
        margin-bottom: -3px;
    }
}

/* SEARCH-BAR */
#search-bar .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#search-bar h1 {
    margin-bottom: 0;
}

#search-bar p {
    padding-top: 10px;
}

#search-bar .form {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    padding-top: 20px;
}

.localisation-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid #f2f2f2;
    border-right: none;
    background-color: #f2f2f2;
}

#search-bar input {
    border: hidden;
    height: 100%;
    border: 1px solid #f2f2f2;
    width: 250px;
    border-right: none;
    border-left: none;
    font-weight: bolder;
    font-size: 16px;
    padding: 0 10px;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    font-size: 16px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #0065fc;
    border-left: none;
    background-color: #0065fc;
}

.search-word-button {
    font-family: 'Raleway', serif;
    font-weight: bolder;
    color: white;
    padding: 0;   
}

#search-bar button:hover {
    background-color:#f2f2f2;
    border: 1px solid #f2f2f2;
}

#search-bar button:hover .search-word-button {
    color: #0065fc;
}

 .search-icon-button {
     display: none;
 }

/* smartphone view */
@media screen and (max-width: 768px) {
    #search-bar .search-bar-infos {
        justify-content: center;
    }

    #search-bar .form {
        justify-content: center; 
    }

    #search-bar input {
        margin-right: -10px;
        width: 85%;
    }

    .search-word-button {
        display: none;
    }

    #search-bar button {
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
        border: 1px solid #0065fc;
        background-color: #0065fc;
        width: 60px;
    }

    .search-icon-button {
        display: block;
        color: white;
    }

    #search-bar button:hover .search-icon-button {
        color: #0065fc;
    }
}

/* FILTERS */

#filters .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filters .filters-font {
    font-weight: bolder;
    font-size: 18px;
}

#filters .filters-set {
    display: flex;
}

#filters .filters-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

#filters .buttons-title {
    margin-right: 2.5%;
    padding-top: 25px;
}

#filters .button-2 {
    display: flex;
    align-items: center;
    margin-right: 2.5%;
    padding-top: 10px;
}

#filters .filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -25px;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    padding: 12px;
    z-index: 2;
}

#filters .button-text {
    height: 50px;
    padding-left: 40px;
    padding-right: 25px;
    border: 3px solid #f2f2f2;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: none;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters .button-2:hover .button-text {
    border: 3px solid #0065fc;
    margin-left: -3px;
}

#filters .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

#filters .info-icon {
    color: #0065fc;
    padding: 5px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
}

/* smartphone view */
@media screen and (max-width: 768px) {
    #filters .filters-set {
        flex-direction: column;
       justify-content: flex-start;
    }

    #filters .buttons-title {
        padding: 0 0 5px 0;
    }

    #filters .filters-buttons {
        align-items: flex-start;
    }
}

/* ACCOMMODATIONS */

#accommodations .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#accommodations h4 {
    font-weight: bolder;
    font-size: clamp(10px, 1vw, 16px);
}

#accommodations p {
    font-size: clamp(10px, 1vw, 16px);
}

#accommodations img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue-star {
    color: #0065fc;
}

.grey-star {
    color: #f2f2f2;
}

#accommodations .city-accommodations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#accommodations .city-accommodations .accommodations-title {
    padding: 2.5% 0 1.5% 4%;
    display: flex;
}

#accommodations .city-accommodations .accommodations-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4%;
}

#accommodations .city-accommodations .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    height: 14vw;
    margin-bottom: 4%;
}

#accommodations .city-accommodations .card a {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#accommodations .city-accommodations .card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 65%;
}

#accommodations .city-accommodations .accommodation-infos {
    padding: 0 0 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}

#accommodations .city-accommodations .more {
    padding: 0 0 3.5% 4%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 22px;
}

#accommodations .more a:hover {
    color: #0065fc;
}

#accommodations .most-popular {
    display: flex;
    flex-direction: column;
    width: 31%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#accommodations .most-popular-title {
    padding: 5.5% 0 3.5% 8.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#accommodations .most-popular-icon {
    font-size: 24px;
    padding-right: 5.5%;
    margin-left: 7%;
}

#accommodations .most-popular-cards-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 8%;
}

#accommodations .most-popular .card {
    display: flex;
    width: 100%;
    height: 10vw;
    margin-bottom: 9%;
}

#accommodations .most-popular .card a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 5px;
    box-sizing: border-box;
}

#accommodations .most-popular .card img {
    width: 35%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#accommodations .most-popular .card .most-popular-infos {
    padding-left: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#accommodations .most-popular .card .most-popular-infos .card-description {
    padding-top: 7%;
    height: 80%;
}

#accommodations .most-popular .card .most-popular-infos .card-description h4 {
    padding-bottom: 4%;
}

#accommodations .most-popular .card .most-popular-infos .card-rating {
    padding-bottom: 7%;
}

/* tablet view */
@media screen and (max-width: 992px) {
    #accommodations .wrapper {
        flex-direction: column-reverse;
    }

    #accommodations h4 {
        font-size: 16px;
    }

    #accommodations p {
        font-size: 16px;
    }


    #accommodations .city-accommodations {
        width: 100%;
    }

    #accommodations .city-accommodations .accommodations-title {
        padding: 2% 0 2% 4%;
        display: flex;
    }

    #accommodations .city-accommodations .card {
        width: 45%;
        height: 30vw;
        margin-bottom: 5%;
    }

    #accommodations .city-accommodations .more {
        padding: 0 0 5% 4%;
    }    

    #accommodations .most-popular {
        width: 100%;
        margin-bottom: 3%;
    }

    #accommodations .most-popular-title {
        padding: 2% 0 2% 4%;
    }

    #accommodations .most-popular-icon {
    padding-right: 3.5%;
    }

    #accommodations .most-popular-cards-list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 4%;
    }

    #accommodations .most-popular .card {
        width: 48%;
        height: 18vw;
        margin-bottom: 5%;
    }
}
/* smartphone view */
@media screen and (max-width: 768px) {
    #accommodations .wrapper {
        align-items: center;
    }

    #accommodations .city-accommodations {
        background-color: white;
    }

    #accommodations .city-accommodations .accommodations-title {
        padding: 2.5% 0 5% 2%;
    }

    #accommodations .city-accommodations .accommodations-cards-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
    }

    #accommodations .accommodations-cards-list .card {
        width: 95%;
        height: 55vw;
    }

    #accommodations .city-accommodations .more {
        padding-left: 2%;
        padding-top: 3%;
    }

    #accommodations .most-popular {
        border-radius: 0;
    }

    #accommodations .most-popular-title {
        padding: 7% 0 5% 5% ;
    }

    #accommodations .most-popular-icon {
        padding-right: 7%;
    }

    #accommodations .most-popular-cards-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 7%;
        padding: 0 2%;
    }

    #accommodations .most-popular .card {
        width: 95%;
        height: 35vw;
    }

    #accommodations .most-popular .card img {
        width: 40%;
        max-width: 220px;
    }
}

/* ACTIVITIES */

#activities .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

#activities h4 {
    font-weight: bolder;
    font-size: clamp(10px, 1vw, 16px);
}

#activities img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activities .activities-title {
    padding-bottom: 2%;
}

#activities .activities-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activities .activities-cards-list .single-card {
    width: 22.5%;
    height: 29vw;
}

#activities .activities-cards-list .dual-cards {
    width: 22.5%;
    height: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities .activities-cards-list .card a {
    width: 100%;
    height: 100%;
}

#activities .activities-cards-list .card {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#activities .activities-cards-list .xl-size {
    height: 100%;
}

#activities .activities-cards-list .l-size {
    height: 55%;
}

#activities .activities-cards-list .m-size {
    height: 48%;
}

#activities .activities-cards-list .s-size {
    height: 42%;
}

#activities .activities-cards-list .xs-size {
    height: 35%;
}

#activities .activities-cards-list img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: calc(100% - 3vw);
}

#activities .activities-cards-list .card .card-title {
    padding: 0 0 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.8vw;
}

/* tablet view */
@media screen and (max-width: 992px) {
    #activities h4 {
        font-size: 16px;
    }

    #activities .activities-cards-list .single-card {
        width: 45%;
        height: 560px;
        margin-bottom: 6%;
    }

    #activities .activities-cards-list .dual-cards {
        width: 45%;
        height: 560px;
        margin-bottom: 6%;
    }

    #activities .activities-cards-list img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: calc(100% - 5vw);
    }

    #activities .activities-cards-list .card .card-title {
        height: 5vw;
    }

    #activities .activities-cards-list .l-size {
        height: 45%;
    }

    #activities .activities-cards-list .m-size {
        height: 45%;
    }

    #activities .activities-cards-list .s-size {
        height:45%;
    }

    #activities .activities-cards-list .xs-size {
        height: 45%;
    }

}

/* smartphone view */
@media screen and (max-width: 768px) {
    #activities .wrapper {
        margin-top: 30px;
    }

    #activities .activities-title {
        padding: 2.5% 0 5% 2%;
    }

    #activities .activities-cards-list {
        flex-direction: column;
        align-items: center;
    }

    #activities .activities-cards-list .card {
        margin-bottom: 6%;
        height: 55vw;
    }

    #activities .activities-cards-list .single-card {
        width: 95%;
        height: 100%;
        margin-bottom: 0;
    }

    #activities .activities-cards-list .dual-cards {
        width: 95%;
        height: 100%;
        margin-bottom: 0;
        
    }

    #activities .activities-cards-list img {
        height: calc(100% - 10vw);
    }

    #activities .activities-cards-list .card .card-title {
        padding: 0 0 0 6%;
        height: 10vw;
    }
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    width: 100%;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 2% 0;
}

footer .title {
    margin: 4% 0 2% 0;
}

footer .link {
    font-weight: lighter;
    margin-bottom: 2%;
}

footer .link p {
    margin-bottom: 2%;
}

footer .link a:hover {
    color: #0065fc;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* tablet view */
@media screen and (max-width: 992px) {
    footer .wrapper {
        flex-wrap: wrap;
    }

    .column {
        width: 40%;
    }
}
/* smartphone view */
@media screen and (max-width: 768px) {
    footer .wrapper {
        flex-direction: column;
        background-color: #f2f2f2;
        padding: 6% 0 4% 4%;
    }

    .column {
        width: 100%;
    }
}
